DATABASE_URL=mysql+pymysql://appuser:AppPass!123@mysql-container:3306/appdb
APP_NAME=CTABackend
APP_VERSION=0.1.0
APP_ENV=development
CORS_ORIGINS=http://localhost:80,http://localhost,http://127.0.0.1,http://127.0.0.1:80
SECRET_KEY=<secret>
ACCESS_TOKEN_EXPIRE_MINUTES=30
TOKEN_ALGORITHM=HS256