# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.env.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Editors/IDEs
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
