# config file version
apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    # <string> url
    url: http://prometheus:9090
    # <bool> enable/disable basic auth
    basicAuth: false
    # <string> basic auth username, if used
    basicAuthUser: 
    # <string> basic auth password, if used
    basicAuthPassword: 
    # <bool> enable/disable with credentials headers
    withCredentials: false
    # <bool> mark as default datasource. Max one per org
    isDefault: true
    # <bool> allow users to edit datasources from the UI.
    editable: true